body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px;
}

.header button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
}

.header button:hover {
    background-color: #666;
}

.content {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.section {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    display: none;
}

.section h2 {
    margin-top: 0;
}

.hidden {
    display: none;
}

#telemetry-container ul {
    list-style: none;
    padding: 0;
}

#telemetry-container li {
    background: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
